body {
    padding-top: 70px;
}

.search-form .search-query-form .query-field  {
    width: 43%;
    display: inline;
}
.search-form .search-query-form .btn  {
    width: 10%;
    display: inline;
}

.search-results {
    visibility: hidden;
}
.search-results.show {
    visibility: visible;
}
