<form class="form-horizontal search-form">
    <div class="form-group">
        <label for="input-search-type" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" ng-model="query.date" />
        </div>
    </div>
    <div class="form-group">
        <label for="input-search-type" class="col-sm-2 control-label">Team 1</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="query.team1" />
        </div>
    </div>
    <div class="form-group">
        <label for="input-search-type" class="col-sm-2 control-label">Team 2</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="query.team2" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" ng-click="search()">Search</button>
        </div>
    </div>
</form>

<div class="search-results" ng-class="{show: results}">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="search-tabs">
        <li role="presentation" class="active"><a href="#team1" aria-controls="team1" role="tab" data-toggle="tab">{{ results.team1.name }}</a></li>
        <li role="presentation"><a href="#team2" aria-controls="team2" role="tab" data-toggle="tab">{{ results.team2.name }}</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" ng-class="{active: key=='team1'}" id="{{ key }}" ng-repeat="(key, value) in results">
            <h2>
                {{ value.name }}
                <small><a href="{{ value.link }}">DBPedia</a></small>
            </h2>
            <p>
                {{ value.description }}
            </p>

            <h3>Manager</h3>
            <img src="{{ value.manager.image }}" class="pull-left" height="100px"/>
            <h4>
                {{ value.manager.name }}
                <small><a href="{{ value.manager.link }}">DBPedia</a></small>
            </h4>
            {{ value.manager.description }}

            <h3>Players</h3>
            <table class="table">
                <thead>
                    <th></th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Position</th>
                    <th>Number</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="player in value.players">
                        <th><img ng-src="{{ player.image }}" height="100px" onerror='this.style.display = "none"' /></th>
                        <td>{{ player.name }}</td>
                        <td>{{ player.dob }}</td>
                        <td>{{ player.position }}</td>
                        <td>{{ player.number }}</td>
                        <td>
                            <a href="" ng-click="playermore(player.link)">Read More</a><br/>
                            <a href="{{ player.link }}">DBPedia</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h3>Stadium</h3>
            <img ng-src="{{ value.stadium.image }}" class="pull-left" height="100px"/>
            <h4>
                {{ value.stadium.name }}
                <small><a href="{{ value.stadium.link }}">DBPedia</a></small>
            </h4>
            {{ value.stadium.description }}
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="player_details_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ player_results.name }}</h4>
            </div>
            <div class="modal-body">
                <h4>Profile</h4>
                <div class="row">
                    <div class="col-md-3">
                        <img ng-src="{{ player_results.image }}" height="100px" onerror='this.style.display = "none"' />
                    </div>
                    <div class="col-md-9">
                        <p>
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <td>{{ player_results.name }}</td>
                                </tr>
                                <tr>
                                    <th>Date of Birth</th>
                                    <td>{{ player_results.dob }}</td>
                                </tr>
                                <tr>
                                    <th>Position</th>
                                    <td>{{ player_results.position }}</td>
                                </tr>
                                <tr>
                                    <th>Number</th>
                                    <td>{{ player_results.number }}</td>
                                </tr>
                            </table>
                        </p>
                    </div>
                </div>

                <p>
                    {{ player_results.abstract }}
                </p>

                <h4>Career</h4>
                <p ng-repeat="career in player_results.career">
                    <strong>
                        <i ng-if="!career.team_name">Unknown team</i>
                        {{career.team_name}}<br/>
                    </strong>
                    <span ng-if="career.years">
                        Year: {{ career.years }}<br/>
                    </span>
                    <span ng-if="career.matches">
                        Number of matches: {{ career.matches }}<br/>
                    </span>
                    <span ng-if="career.goals">
                        Number of goals: {{ career.goals }}<br/>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
